* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    /* background-color: #123; */
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ff9064;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#navbar {
    background-color: #ff9064;
    color: white;
    padding: 20px 50px;
}

.my-btn {
    color: #ff9064;
    border-radius: 50px;
    border-color: #ff9064;
}

.my-btn:hover {
    background-color: #ff9064;
    color: white;
    transition: 500ms;
}

.my-btn-2 {
    color: black;
    border-radius: 50px;
    border-color: black;
}

.my-btn-2:hover {
    background-color: black;
    color: #ff9064;
    transition: 500ms;
}

.my-btn-3 {
    color: white;
    border-radius: 50px;
    border-color: white;
}

.my-btn-3:hover {
    background-color: white;
    color: #ff9064;
    transition: 500ms;
}

#topbar {
    background-color: #ff9064;
    color: white;
    /* height: 100vh; */
    padding: 100px 20px 20PX 20px;
    margin: 0;
}

#topbar-container {
    padding: 20px;
}

#topbar-about {
    padding-bottom: 100px;
}

#topbar-contact {
    padding-bottom: 20px;
    margin: 0;
}

#topbar-about-container{
    padding: 70px 0;
    /* text-align: left; */
}

#image {
    border-radius: 50%;
}

#image-border {
    padding: 15px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: fit-content;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    border-radius: 20px;
    overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
    background: url('../images/menu-tile.jpg') no-repeat;
    background-position: center;
}
#specials-tile {
    background: url('../images/specials-tile.jpg') no-repeat;
    background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.portfolio-image {
    border-radius: 20px;
}

.portfolio-image-container {
    width: 365px;
    position: relative;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 144, 100, 0.7);
    border-radius: 20px;
}
.portfolio-image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-cert {
    border-radius: 30px;
}


#footer {
    background-color: #ff9064;
    padding-top: 30px;
    margin: 0;
    width: 100%;
    padding-bottom: 30px;
}

.icons-container{
    height: 100px;
    width: 400px;
}

.social-icons .item {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    transition: .3s all;
    position: relative;
    -webkit-transition: .3s all;
    text-align: center;
    color: #ff9064;
    background-color: #fff;
    line-height: 48px;
    border-radius: 50px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.18), 0px 4px 15px 0px rgba(0,0,0,0.15);
}
  
.social-icons.spinned .item:hover {
    -webkit-animation: Social-Icons-Flipping .3s;
    animation: Social-Icons-Flipping .3s
}
.social-icons .item:hover {
    text-decoration: none;
    background-color: #42474E;
    box-shadow: 0 -1px 0 transparent inset, 0 2px 3px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
    color: #fff!important
}
.social-icons .item .fa {
    font-size: 20px;
    font-weight: 500;
}
  
.facebook:hover {
    background-color: #425F9C!important
}
.twitter:hover {
    background-color: #00ACEE!important
}
.github:hover {
    background-color: #c00!important
}
.linkedin:hover {
    background-color: #0073B2!important
}
.codewars:hover {
    background-color: #EB3E40!important
}
.instagram:hover {
    background-color: #5E8AAC!important
}
.phone:hover {
    background-color: #0073B2!important;
}
  
@-webkit-keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes Social-Icons-Flipping {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: #ff9064;
    }
    #navbarSupportedContent {
        height: 100vh;
        transition: 0.5s;
    }
    .nav-item {
        width: 100%;
        text-align: center;
    }
    #cv {
        width: 100%;
        text-align: center;
    }
    .overlay{
        opacity: 1;
    }
    #topbar-about-container {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #topbar-about-container {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {

}

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button {
    font-size: 18px;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    text-align: center;
}
.btn-default:active .filter-button:active {
    background-color: #ff9064;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
    border-radius: 20px;
}


#skills {
    padding: 50px;
}
.skilss-container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
} 
.skills-container *{
    font-family: "Poppins",sans-serif;
    color: #ff9064;
    font-weight: 500;
}
#skills-title{
    font-weight: bolder;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
}

.skills:not(:last-child){
    margin-bottom: 30px;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #ff9064;
    border-radius: 20px;
}
  
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #ff9064;
}
  
#flutter-bar{
    animation: flutter-fill 2s forwards;
}
@keyframes flutter-fill{
    100%{
        width: 95%;
    }
}
#java-bar{
    animation: java-fill 2s forwards;
}
@keyframes java-fill{
    100%{
        width: 90%;
    }
}
#unity-bar{
    animation: unity-fill 2s forwards;
}
@keyframes unity-fill {
    100%{
        width: 72%;
    }
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 85%;
    }
} 
#firebase-bar{
    animation: firebase-fill 2s forwards;
}
@keyframes firebase-fill{
    100%{
        width: 63%;
    }
}
#dart-bar{
    animation: dart-fill 2s forwards;
}
@keyframes dart-fill{
    100%{
        width: 80%;
    }
}

#name-err, #email-err, #msg-err, #submitted {
    /* color: red; */
    font-weight: bolder;
}


#contact {
    background-color: #ff9064;
    color: white;
}

/* #about {
    background-image: url('../images/1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */