* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: #ff9064;
    color: white;
    padding: 20px 50px;
}

#cv-btn {
    color: white;
    border-radius: 50px;
    border-color: white;
}

#cv-btn:hover {
    background-color: white;
    color: #ff9064;
    transition: 500ms;
}

#topbar {
    background-color: #ff9064;
    color: white;
    /* height: 100vh; */
    padding: 100px 20px 20PX 20px;
}

#topbar-container {
    padding: 20px;
}

#topbar-about {
    padding-bottom: 100px;
}

#topbar-contact {
    padding-bottom: 20px;
    margin: 0;
}

#topbar-about-container{
    padding: 70px 0;
    text-align: left;
}

#image {
    border-radius: 50%;
}

#image-border {
    padding: 15px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: fit-content;
}


@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: #ff9064;
    }
    #navbarSupportedContent {
        height: 100vh;
        transition: 0.5s;
    }
    .nav-item {
        width: 100%;
        text-align: center;
    }
    #cv {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) {

}